<div class="banner">
  <div class="container">
    <div class="text-center">
      <h1 class="display-1 fw-bold">Welcome to WatchList</h1>
      <p>Your favorite movie lists</p>
    </div>
  </div>
</div>

<h2 class="mb-5 text-center display-5">My Movie list</h2>
<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm border-0 text-center">
        <% image = list.image_url.present? ? list.image_url : asset_path("list-default.png") %>
        <%= image_tag image, class: "card-img-top", alt: list.name, style: "height: 200px; object-fit: cover;" %>
        <div class="card-body">
          <h5 class="card-title fw-semibold"><%= list.name %></h5>
        </div>
        <div class="card-footer bg-white border-0">
          <%= link_to "ðŸ” View list", list_path(list), class: "btn btn-outline-primary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center mt-5">
  <%= link_to "âž• Create new list", new_list_path, class: "btn btn-success btn-lg" %>
</div>
